<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додавання товара в категорію {{name_categiry}}</title>
</head>
<body>
    <h1>Додавання товара в категорію {{name_categiry}}</h1>
    <br><br>

    <form action="", method="post">
        <p>Назва     <input type="text" name="name" placeholder="Ввіть назву товара"></p>
        <p>Ціна      <input type="number" name="price" placeholder="Ввіть ціну товара" min="0" value="0"></p>
        <p>Кількість <input type="number" name="quantity" placeholder="Ввіть кількість товару" min="0" value="0"></p>
        <p>Товар в продажу<input type="checkbox" name="on_the_market" value="1"></p>
        <p><input type="submit"></p>
    </form>
</body>
</html>